In [2]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [3]:
init_db()

2020-10-21 21:08:55,359 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-10-21 21:08:55,360 INFO sqlalchemy.engine.base.Engine ()
2020-10-21 21:08:55,361 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-10-21 21:08:55,361 INFO sqlalchemy.engine.base.Engine ()
2020-10-21 21:08:55,363 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("data")
2020-10-21 21:08:55,364 INFO sqlalchemy.engine.base.Engine ()

In [5]:
date = datetime.date.today()
date

datetime.date(2020, 10, 21)

In [7]:
row = Data(date=date, subscribers=3500, reviews=200)

In [8]:
db_session.add(row)

In [9]:
db_session.commit()

2020-10-21 21:11:50,498 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:11:50,500 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-10-21 21:11:50,501 INFO sqlalchemy.engine.base.Engine ('2020-10-21', 3500, 200, '2020-10-21 21:08:55.331400')
2020-10-21 21:11:50,503 INFO sqlalchemy.engine.base.Engine COMMIT

In [11]:
row1 = Data(date=date, subscribers=6500, reviews=210)
row2 = Data(date=date, subscribers=1500, reviews=220)

In [12]:
db_session.add(row1)
db_session.add(row2)

In [13]:
db_session.commit()

2020-10-21 21:15:35,459 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:15:35,460 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-10-21 21:15:35,461 INFO sqlalchemy.engine.base.Engine ('2020-10-21', 6500, 210, '2020-10-21 21:08:55.331400')
2020-10-21 21:15:35,462 INFO sqlalchemy.engine.base.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2020-10-21 21:15:35,463 INFO sqlalchemy.engine.base.Engine ('2020-10-21', 1500, 220, '2020-10-21 21:08:55.331400')
2020-10-21 21:15:35,464 INFO sqlalchemy.engine.base.Engine COMMIT

# Read

In [14]:
db_session.query(Data).all()

2020-10-21 21:16:16,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:16:16,973 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-10-21 21:16:16,974 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x10a5aa760>,
 <assets.models.Data at 0x10a5184f0>,
 <assets.models.Data at 0x10a518a30>]

In [14]:
db_session.query(Data).all()

2020-10-21 21:16:16,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:16:16,973 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-10-21 21:16:16,974 INFO sqlalchemy.engine.base.Engine ()

[<assets.models.Data at 0x10a5aa760>,
 <assets.models.Data at 0x10a5184f0>,
 <assets.models.Data at 0x10a518a30>]

In [16]:
db_session.query(Data).all()[1].subscribers

2020-10-21 21:17:31,148 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-10-21 21:17:31,149 INFO sqlalchemy.engine.base.Engine ()

6500

# Update

In [18]:
datum = db_session.query(Data).all()[0]
datum

2020-10-21 21:18:44,683 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-10-21 21:18:44,684 INFO sqlalchemy.engine.base.Engine ()

In [19]:
datum.subscribers = 10000

In [20]:
db_session.add(datum)
db_session.commit()

2020-10-21 21:19:26,362 INFO sqlalchemy.engine.base.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2020-10-21 21:19:26,363 INFO sqlalchemy.engine.base.Engine (10000, 1)
2020-10-21 21:19:26,365 INFO sqlalchemy.engine.base.Engine COMMIT

In [21]:
db_session.query(Data).filter_by(subscribers=10000).one()

2020-10-21 21:20:24,776 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:20:24,777 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2020-10-21 21:20:24,777 INFO sqlalchemy.engine.base.Engine (10000,)

In [22]:
db_session.delete(datum)
db_session.commit()

2020-10-21 21:21:01,730 INFO sqlalchemy.engine.base.Engine DELETE FROM data WHERE data.id = ?
2020-10-21 21:21:01,731 INFO sqlalchemy.engine.base.Engine (1,)
2020-10-21 21:21:01,733 INFO sqlalchemy.engine.base.Engine COMMIT

In [23]:
db_session.query(Data).all()

2020-10-21 21:21:14,122 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-10-21 21:21:14,123 INFO sqlalchemy.engine.base.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2020-10-21 21:21:14,124 INFO sqlalchemy.engine.base.Engine ()

In [24]:
Data.query.delete()

2020-10-21 21:21:44,558 INFO sqlalchemy.engine.base.Engine DELETE FROM data
2020-10-21 21:21:44,559 INFO sqlalchemy.engine.base.Engine ()

2