In [131]:
from bs4 import BeautifulSoup
import requests
import datetime

In [132]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [133]:
r = requests.get(url)

In [134]:
soup = BeautifulSoup(r.text, 'html.parser')

In [135]:
# soup

In [136]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [137]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：9311'

In [138]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

9311

In [143]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：1547'

In [144]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

1547

In [145]:
results = {
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviews
}

In [146]:
result

{'name': '今西 航平', 'n_subscribers': 9311, 'n_reviews': 1547}

In [147]:
import pandas as pd

In [148]:
df = pd.read_csv('assets/data.csv')

In [149]:
df

           date  subscribers  reviews
0     2019/1/17         2671      194
1     2019/1/18         2671      195
2     2019/1/19         2674      197
3     2019/1/20         2685      199
4     2019/1/21         2695      199
..          ...          ...      ...
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546
646  2020/10/18         9310     1547
647  2020/10/18         9311     1547

[648 rows x 3 columns]

In [150]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [151]:
df.tail()

           date  subscribers  reviews
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546
646  2020/10/18         9310     1547
647  2020/10/18         9311     1547

In [152]:
import datetime

In [153]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2020/10/18'

In [154]:
subscribers = result['n_subscribers']
reviews = result['n_reviews']

In [155]:
subscribers

9311

In [156]:
reviews

1547

In [157]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

         date  subscribers  reviews
0  2020/10/18         9311     1547

In [158]:
df = pd.concat([df, results])

In [159]:
df.tail()

           date  subscribers  reviews
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546
646  2020/10/18         9310     1547
647  2020/10/18         9311     1547
0    2020/10/18         9311     1547

In [160]:
df.to_csv('assets/data.csv', index=False)

・Udemyから情報をとってくる関数（get_udemy_info）
・CSVに書き込む関数(write_data)

In [164]:
def get_ud_info():
    
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results = {
        'name':name,
        'n_subscribers':n_subscribers,
        'n_reviews':n_reviews
    }

    return results

In [2]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    #新規のデータ
    _results = get_ud_info()

    #書き込みのデータ
    date = datetime.datetime.today().strftime('%Y/%-m/%-d')
    subscribers = _results['n_subscribers']
    reviews = _results['n_reviews']
    results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])

    df = pd.concat([df, results])
    df.to_csv('assets/data.csv', index=False)