In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('assets/data.csv')

In [3]:
df

           date  subscribers  reviews
0     2019/1/17         2671      194
1     2019/1/18         2671      195
2     2019/1/19         2674      197
3     2019/1/20         2685      199
4     2019/1/21         2695      199
..          ...          ...      ...
642  2020/10/14         9248     1540
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546
646  2020/10/18         9312     1547

[647 rows x 3 columns]

In [6]:
type(df['date'][0])

str

In [8]:
df['date'][0]

'2019/1/17'

In [9]:
import datetime

In [10]:
datetime.datetime.strptime(df['date'][0], '%Y/%m/%d').date()

datetime.date(2019, 1, 17)

In [13]:
dates = []
for _date in df['date']:
    date = datetime.datetime.strptime(_date, '%Y/%m/%d').date()   
    dates.append(date)

In [15]:
#dates