In [1]:
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [5]:
r = requests.get(url)

In [7]:
soup = BeautifulSoup(r.text, 'html.parser')

In [9]:
# soup

In [40]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [62]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：9310'

In [63]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

9310

In [64]:
n_reviwes = soup.select('.reviews')[0].string
n_reviwes

'レビューの数：1547'

In [65]:
n_reviwes = int(n_reviwes.split('：')[1])
n_reviwes

1547

In [66]:
result = {
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviwes
}

In [67]:
result

{'name': '今西 航平', 'n_subscribers': 9310, 'n_reviews': 1547}

In [80]:
import pandas as pd

In [69]:
df = pd.read_csv('assets/data.csv')

In [70]:
df

           date  subscribers  reviews
0     2019/1/17         2671      194
1     2019/1/18         2671      195
2     2019/1/19         2674      197
3     2019/1/20         2685      199
4     2019/1/21         2695      199
..          ...          ...      ...
641  2020/10/13         9220     1536
642  2020/10/14         9248     1540
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546

[646 rows x 3 columns]

In [71]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [72]:
df.tail()

           date  subscribers  reviews
641  2020/10/13         9220     1536
642  2020/10/14         9248     1540
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546

In [73]:
import datetime

In [74]:
date = datetime.datetime.today().strftime('%Y/%-m/%-d')
date

'2020/10/18'

In [75]:
subscribers = result['n_subscribers']
reviews = result['n_reviews']

In [76]:
subscribers

9310

In [77]:
reviews

1547

In [89]:
results = pd.DataFrame([[date, subscribers, reviews]], columns=['date', 'subscribers', 'reviews'])
results

         date  subscribers  reviews
0  2020/10/18         9310     1547

In [91]:
df = pd.concat([df, results])

In [93]:
df.tail()

           date  subscribers  reviews
642  2020/10/14         9248     1540
643  2020/10/15         9265     1540
644  2020/10/16         9297     1542
645  2020/10/17         9300     1546
0    2020/10/18         9310     1547

In [94]:
df.to_csv('assets/data.csv', index=False)

・Udemyから情報をとってくる関数（get_udemy_info）
・CSVに書き込む関数(write_data)